<main id="page-content" class="d-flex nm-aic nm-vh-md-100" style="position: relative;">
	<div class="overlay"></div>

	<div class="nm-tm-wr">
		<div class="container">
			<form [formGroup]="loginForm" (ngSubmit)="LoginProcess()">
				<div class="nm-hr nm-up-rl-3">
					<h2>TecknoTrove Project</h2>
					<h2>Login</h2>
				</div>

				<!-- Username Field -->
				<div class="input-group nm-gp">
					<span class="nm-gp-pp"><i class="fas fa-user"></i></span>
					<input type="text" class="form-control" formControlName="username" tabindex="1"
						placeholder="Username">
					
				</div>
				<div *ngIf="f['username'].touched && f['username'].invalid" class="alert alert-danger">
					<div *ngIf="f['username'].errors && f['username'].errors['required']">Username is required</div>
				</div>
				<!-- Password Field -->
				<div class="input-group nm-gp">
					<span class="nm-gp-pp"><i class="fas fa-lock"></i></span>
					<input type="password" class="form-control" formControlName="password" tabindex="2"
						placeholder="Password">
				</div>
				<div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
					<div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required</div>
				</div>
				<div class="input-group nm-gp">
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="rememberMe">
						<label class="form-check-label nm-check" for="rememberMe">Keep me logged in</label>
					</div>
				</div>

				<div class="row nm-aic nm-mb-1 justify-content-center">
					<div class="col-sm-6 nm-mb-1 nm-mb-sm-0">
						<button type="submit"  [disabled]="loginForm.invalid" class="btn btn-primary nm-hvr nm-btn-2">Log In</button>
					</div>
				</div>

				<footer
					style="text-align: center; margin-top: 2rem; font-size: 0.75rem; color: #97a4af; font-weight: 400;">
					Don't have an account? <a class="nm-fs-1 nm-fw-bd" style="font-size: 0.75rem;"
						routerLink="/register">Signup</a></footer>
			</form>
		</div>
	</div>
</main>